<?xml version="1.0" encoding="UTF-8"?>
<config>
	<logging>
		<level>WARNING</level>
		<format>%(asctime)-15s %(message)s</format>
		<filePath>/var/log/zway-to-mqtt.log</filePath>
	</logging>
	<mqtt>
		<hostname>localhost</hostname>
		<port>1883</port>
		<timeout>60</timeout>
		<username>username</username>
		<password>password</password>
		<qosPublish>0</qosPublish>
		<qosSubscribe>0</qosSubscribe>
		<retain>0</retain>
		<topicPrefix>zway</topicPrefix>
		<refreshInterval>1</refreshInterval>	
		<topics>
			<topic refreshInterval="30" id="2-1-38" property="switch" type="ON_OFF">diningRoom/light1Switch</topic>		
			<topic id="2-1-38" property="dimmer" type="INTEGER">diningRoom/light1Dimmer</topic>
			<topic id="2-1-49-4" type="FLOAT">diningRoom/light1ElectricMeterWatt</topic>
			<topic id="12-0-128" type="INTEGER">basement/smokeDetectorBatteryLevel</topic>
		</topics>		
	</mqtt>
	<zway>
		<hostname>localhost</hostname>
		<port>8083</port>
		<username>username</username>
		<password>password</password>
		<cron>
			<job id="2-*">*/5 * * * *</job>
			<job id="3-*">*/5 * * * *</job>
			<job id="5-*">*/5 * * * *</job>
			<job id="6-*">*/5 * * * *</job>
			<job id="12-*">0 12 * * *</job>
		</cron>
	</zway>
</config>