[Unit]
Description=Zway MQTT Service
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/src/zwayToMqtt
ExecStart=/usr/local/src/zwayToMqtt/zwayToMqtt.py
SyslogIdentifier=zway-to-mqtt
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target